---
- name: Create C:\ludus\badblood_tiny
  ansible.windows.win_file:
    path: C:\ludus\badblood_tiny
    state: directory

- name: Download BadBlood from GitHub
  ansible.windows.win_get_url:
    url: https://github.com/davidprowe/BadBlood/archive/refs/heads/master.zip
    dest: "C:\\ludus\\badblood_tiny\\BadBlood.zip"

- name: Unzip BadBlood.zip
  ansible.windows.win_powershell:
    script: |
      Expand-Archive -Path "C:\ludus\badblood_tiny\BadBlood.zip" -Destination "C:\Windows\Temp\BadBlood" -Force

- name: Check if BadBlood directory exists
  ansible.windows.win_stat:
    path: C:\Windows\Temp\BadBlood
  register: badblood_check

- name: Run BadBlood script if directory exists. This takes a while...
  ansible.windows.win_powershell:
    script: |
      param (
        [Int32]$GroupCount,
        [Int32]$UserCount,
        [Int32]$ComputerCount
      )
      C:\Windows\Temp\BadBlood\BadBlood-master\Invoke-BadBlood.ps1 -NonInteractive -GroupCount $GroupCount -UserCount $UserCount -ComputerCount $ComputerCount
    parameters:
      GroupCount: "{{ ludus_badblood_tiny_groupcount }}"
      UserCount: "{{ ludus_badblood_tiny_usercount }}"
      ComputerCount: "{{ ludus_badblood_tiny_computercount }}"
  when: badblood_check.stat.exists

- name: Gather AD facts into CSV files under C:\ludus\badblood_tiny
  ansible.windows.win_powershell:
    script: |
      Get-ADOrganizationalUnit -Filter * | Export-Csv C:\ludus\badblood_tiny\OUs.csv
      Get-ADGroup -Filter * | Export-Csv C:\ludus\badblood_tiny\Groups.csv
      Get-ADUser -Filter * | Export-Csv C:\ludus\badblood_tiny\Users.csv
  when: badblood_check.stat.exists
